@model EmployeeManagementApplication.Models.GetDate
@using EmployeeLibrary.Model
@{
    ViewData["Title"] = "GetMonthAndUser";
}
<br />
<h1>Get By Month And User</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetMonthAndUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Select a month</label>
                <input asp-for="Date" class="form-control" required />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User</label>
                @{
                    // Retrieve categories from ViewData
                    var users = ViewData["userid"] as List<User>;
                }
                <select asp-for="UserId" class="form-control" required>
                    <option value="" disabled selected>Select a User</option>
                    @foreach (var i in users)
                    {
                        <option value="@i.UserId">@i.FirstName @i.LastName</option>

                    }
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-primary me-2" asp-area="" asp-action="Index">Back to Index</a>
            </div>
        </form>
    </div>
</div>


