@model EmployeeLibrary.Model.Role

@{
    ViewData["Title"] = "Edit";
}
<br />
<h1>Edit</h1>

<h4>Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label">Role Name</label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="RoleSalary" class="control-label">Role Salary</label>
                <input asp-for="RoleSalary" class="form-control" />
                <span asp-validation-for="RoleSalary" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-primary me-2" asp-area="" asp-action="Index">Back to Index</a>

            </div>
        </form>
    </div>
</div>


