@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>Privacy Policy</b><br />

    Last Updated: 11-03-2024<br />

    Welcome to Zuci Systems! At Zuci Systems, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, disclose, and protect the information you provide to us.<br />

    <b> Information We Collect:</b><br />

    Personal Information: When you interact with us, we may collect personal information such as your name, email address, contact number, address, and job title.<br />

    Account Information: If you create an account with us, we may collect your username, password, and other account-related information.<br />

    Usage Information: We may collect information about your interactions with our website, products, and services, including your IP address, browser type, operating system, device information, and usage data.<br />

    Communication Records: We may retain records of your communications with us, including emails, chat logs, and phone conversations, for quality assurance, training, and support purposes.<br />

    <b> How We Use Your Information:</b><br />

    Providing Services: We use the information you provide to deliver our products and services, fulfill your requests, and communicate with you about your account.<br />

    Improving Services: We may analyze usage data to improve the functionality, performance, and user experience of our website, products, and services.<br />

    Communication: We may use your contact information to send you updates, newsletters, marketing communications, and promotional offers that may be of interest to you. You can opt-out of receiving these communications at any time.<br />

    <b> Disclosure of Information:</b> <br />

    Service Providers: We may share your information with third-party service providers who assist us in providing our products and services, such as hosting providers, payment processors, and marketing agencies.<br />

    Business Transfers: In the event of a merger, acquisition, or sale of all or a portion of our assets, your information may be transferred to the acquiring entity.<br />

    Legal Compliance: We may disclose your information when required by law or to protect our rights, property, or safety, or that of others.<br />

    <b>Data Security:</b><br />

    We implement reasonable security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.<br />

    <b> Your Rights:</b><br />

    You have the right to access, correct, update, or delete your personal information. You may also object to the processing of your personal information or request its transfer.<br />

    Children's Privacy:<br />

    Our website, products, and services are not directed to individuals under the age of 13. We do not knowingly collect personal information from children under 13. If you believe that we have inadvertently collected personal information from a child under 13, please contact us immediately.<br />

    Changes to Privacy Policy:<br />

    We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the revised Privacy Policy on our website.<br />

    <b>Contact Us:</b><br />

    If you have any questions or concerns about this Privacy Policy or our data practices, please <a href="https://www.zucisystems.com/contact/" target="_blank">contact us</a><br />


    <b>Contact Us:</b> <br />

    By using our website, products, or services, you consent to the collection, use, and disclosure of your information as described in this Privacy Policy.<br />

    Feel free to customize this privacy policy according to Zuci Systems' specific practices and legal requirements. Make sure to keep it updated and easily accessible on your website.<br  />





</p>

